.react-flow__edge-path {
	stroke: #1f2430;
	stroke-width: 4px;
	stroke-linecap: round;
	stroke-dasharray: 1 2;
}

.react-flow__edge-default.nopan.selected .react-flow__edge-path {
	stroke: #1f2430;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-dasharray: 1 3;
}

.react-flow__connection-path {
	stroke: #1f2430;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-dasharray: 1 2;
}
